
#bankapp{
    background-color:skyblue;
    text-align: center;
    border: 1px solid black;
    height: 500px;
    width: 700px;
    margin: 150px;
    
}
.username{
    margin-top: 20px;
    height: 40px;
    width: 200px;
}
.pwd{
    
    height: 40px;
    width: 210px;
}
.pwd2{
    
    height: 40px;
    width: 210px;
}
.login{
    margin-left: 50px;
    height: 40px;
    width: 80px;
    color: blue;
}
