
#task{
    background-color:skyblue;
   margin-left: 300px;
   margin-top: 100px;
   font-size: 30px;

}
#click{
    background-color:blue ;
}
.updatebtn{
    background-color: slateblue;
}
.btn{
    background-color: skyblue;
}
body{
    background-color: cornflowerblue;
}
